<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
">
    <context:component-scan use-default-filters="false" base-package="com.mycompany.monannotation1" >
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
  
        
    </context:component-scan><!--
 -->
    <context:annotation-config></context:annotation-config>
    
<!--    <bean id="customer" class="com.mycompany.monannotation1.Customer">
        <property name="id" value="12"/>
        <property name="name" value="shiboo"/>
        <property name="age" value="22"/>
    </bean>
    
    <bean id="product" class="com.mycompany.monannotation1.Product">
        <property name="id" value="12"/>
        <property name="name" value="labtop"/>
        <property name="manfName" value="hp"/>
    </bean>-->
    
</beans>
